<%- include('../partials/_header');  %> 
    
    <div class="row">   
        <div class="col-lg-6 offset-lg-3">
            <%- include('../partials/_makale_card',{ makale, index : undefined }); %>
        </div>
    </div>