<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs Layout</title>
</head>
<body>
    <p>Burası ejs layout klasörü içindeki dosyalar</p>
    <p>ejs layout başlangıcı</p>
    <%- body  %> <!-- yenidefaultview klasörü içindeki dosyayı buraya çekmiş olduk -->
    <p>ejs layout bitişi</p>
</body>
</html>