<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Sitem</title>
    <link rel="stylesheet" href="/css/main.css"> <!-- doğrudan public klasörünün içerisine bakar -->
<!--     render edilmeden önce buraya bakılır o yüzden eklencek kütüphaneler buraya eklenmelidir -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-2">
    <%- body %> 
    </div>
</body>
</html>